/* Notes  from media query for desktop remove the vomments from display none marked with "kk"*/
* {
  margin:0;
  padding:0;
  list-style: none;
}

a {
  text-decoration: none;
}

#bar{
  display:inline-block;
  float:right;
  height:auto;
  width:15%;
  margin:2% 1%;

}

body {
  background-color:#a80606;
}

.footernavbar {
  display:none;
  width:100%;
  height:20rem;
  margin-top:2rem;
  background-color:#870606;
}

.footernavbar a {
  color:black;
  display: block;
  height:3rem;
  width:10rem;
  margin-bottom:1rem;
  background-color:#f25107;
  text-align:center;
  line-height:3rem;
}

.footernavbar a:hover {
  color:#0b2ea3;
  background-color:#dcdfe8;
}

.footernavbar img {
  padding-right:25rem;/*Adjust this padding to right align the uppernavbar*/
}

.footernavbar > ul {
  width:10rem;
  height:auto;
  display: block;
  float:left;
  font-size:1.25rem;
  margin-right:3rem;
  opacity:0.8;
}

.heading {
  display: block;
  font-weight: bold;
  font-size:650%;
  text-align: center;
  padding-top:5%;
  background-color: #a80606;
}

.heading3 {
  display: block;
  font-weight: bold;
  font-size:400%;
  text-align: center;
  background-color: #a80606;
  padding-bottom:5%;
}

#index {
  background: url("background3.jpg") no-repeat top center;
  background-size:cover;
}

.intern {
  font-size: 350%;
  color: white;
  text-align: justify;
  padding:0 5%;
}

.intern_inner{
  font-size: 300%;
  text-align: center;
  background:url("https://images.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg?w=940&h=650&auto=compress&cs=tinysrgb") no-repeat center center;
  background-size:cover;
}

.intern_inner a {
  display: block;
  color:#50d3c6;
  padding:1%;
}

#license {
  color:teal;
}

#logo {
  height:auto;
  width:15%;
  margin:0.2% 0;
}

#logoDesktop {
  display:none;
}

#scrollbar{
  display: none;
}

#socialLinksDesktop {
  display:none;
}

#socialLinksMobile {
  display:block;
  width:70%;
  margin:0 auto;
}

#socialLinksMobile > a{
  padding:3% 4%;
}

#sub_pitch {
  display: block;
  font-size:80%;
  text-align: center;
  color:#eaecef;
  padding-bottom:10% 5%;
}

#the_pitch {
  display: block;
  font-size:350%;
  text-align: center;
  color:#eaecef;
  padding-bottom:10% 5%;
}

.uppernavbar {
  width:100%;
  height:45px;
  display:none;
}

.uppernavbar a {
  color:#7cf4e8;
  display:inline-table;
  height:150px;
  text-align:center;
  line-height:150px;
}
.uppernavbar > ul {
  display: inline-block;
  float:left;
  font-size:400%;
  width:100%;
  text-align: center;
  background-color:rgb(0,0,0);
  opacity:0.8;
}

.uppernavbar ul li ul li {
  display:none;
}

.uppernavbar li:hover {
  background-color:#8c0202;
}

.uppernavbar li:hover ul li{
  display: block;
}

.uppernavbar ul li ul li:hover {
  background-color:#38ba2c;
}

#usercontrols{
  display:none;
 margin:0 auto;
}

.wn {
  background-color: white;
}

.wnheading {
    display: block;
    font-weight: bold;
    font-size:400%;
    text-align: center;
    padding-top:5%;
    background-color: #a80606;
}

.wnheading3 {
  display: block;
  font-weight: bold;
  font-size:300%;
  text-align: center;
  background-color: #a80606;
  padding-bottom:5%;
}k

.wnpitch {
  display: block;
  font-weight: bold;
  background-color: teal;
  color:#ffffff;
  font-size:250%;
  text-align: center;
  padding:0 5%;
}

@media only screen and (min-device-width:768px)/*beginning of media query for desktop*/
{
  .footernavbar {
    display:block;
  }

  .heading {
    font-size:300%;
    padding-top:1%;
  }

  .heading3 {
    font-size:200%;
    padding-bottom:1%;
  }

  #index {
    background: url("photo.jpg") no-repeat center center;
    background-size:contain;
  }

  .intern {
    font-size: 170%;
    color: #50d3c6;
  }

  .intern_inner{
    font-size: 170%;
    text-align: justify;
    padding:0 5%;
  }

   #leftbtn,#rightbtn{
     position:relative;
     display:inline;
   }

   #leftbtn{
     margin-right:4%;
   }

    #logoDesktop {
      display:block;
      padding-right:26rem;
      height:2.85rem;
    }

  #logo {
    height:2.5rem;
    width:2.5rem;
    margin:0.25rem;
  }

    #navbarMobile {
      display:none;
    }

    #scrollbar{
      display: block;
      width:100%;
      height:150px;
      background-color:teal;
      text-align:center;
      font-style:arial;
      overflow:hidden;
    }

    #scrollbar > a{
      display:none;
      font-size:20px;
    }

    #socialLinksDesktop {
      display:block;
      width:100%;
      height:auto;
      background-color:teal;
      text-align: center;
    }

    #socialLinksDesktop > a{
      display:inline-block;
      padding-right:2rem;
      margin:0 auto;
    }

    #socialLinksMobile {
      display:none;
    }

    #sub_pitch {
      color:black;
    }

  #the_pitch {
    font-size:3rem;
    display: block;
    text-align:center;
    line-height:100%;/*remove this later pleae*/
    height:60rem;
    width:auto;
    color:black;
  }

  .uppernavbar {
    height:3rem;
    width:auto;
    display:block;
  }

  .uppernavbar a {
    color:#7cf4e8;
    display: block;
    width:10rem;
    height:3rem;
    line-height:3rem;
    margin-bottom:0.5rem;
    padding:0.5 1rem 1rem 1rem;
  }

  .uppernavbar > ul {
    display: block;
    font-size:1.25rem;
    height:3rem;
    width:inherit;
    margin-right:0.2rem;
  }

/*for desktop*/
}

